/*----------GLOBAL----------*/

:root {
    --background-color: #000000;
    --text-color: #9E7E57;
    --link-hover-color: #d5bfa4;
    --font-size: 26px;
}

@font-face {
    font-family: 'SpecialFont';
    src: url('assets/EldritchVanguardBold-9Mp70.otf') format('opentype');
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
}

body > * {
    padding: 25px 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-family: 'SpecialFont';
}

/*----------HOME----------*/

#home {
    min-height: 100vh; /*vh = Viewport Height*/
    display: flex;
    flex-direction: column;
}

#home nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 0.75rem;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    gap: 75px;
    padding: 30px 50px;
    box-sizing: border-box;
}

.nav-links {
    transition: all 0.35s ease;
}

.nav-links:hover {
    color: var(--link-hover-color);
    scale: 105%;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-family: 'SpecialFont', sans-serif;
    font-size: 5rem; /*rem = Root EM*/
    margin: 0;
    padding: 25px;
}

.hero p {
    font-size: 1.2rem;
    margin: 0;
}

/*----------ABOUT----------*/

#about {
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*----------PROJECTS----------*/

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.project-carousel {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    perspective: 1000px;
}

.project {
    flex: 0 0 auto;
    width: 200px;
    height: 500px;
    border: 3px solid;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.35s ease;
    transform-style: preserve-3d;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.05) translateZ(20px);
    box-shadow: 0 20px 30px #0000007a;
}

.project-filters {
    position: relative;
    display: grid;
    justify-content: center;
}

.project-filters::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 120%;
    height: 1px;
    background-color: var(--link-hover-color);
    transform: translateX(-50%);
}

.filter-button {
    grid-row: 1;
    position: relative;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 100;
    color: inherit;
    cursor: pointer;
    padding: 20px 10px 10px 10px;
    transition: all 0.35s ease;
}

.filter-button:hover {
    color: var(--link-hover-color);
    transform: translateY(-4px);
}

.filter-button.active {
    color: var(--link-hover-color);
    transform: translateY(-8px);
}

.filter-button.active:hover {
    transform: translateY(-12px);
}

.filter-button::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 0;
    height: 1.5px;
    background-color: var(--link-hover-color);
    border-radius: 2px;
    transform: translateX(-50%);
    transition: width 0.35s ease;
}

.filter-button.active::after {
    width: 55%;
}

/*----------SKILLS----------*/

#skills {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*----------CONTACTS----------*/

#contacts {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*----------FOOTER----------*/

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
}
