/*----------GLOBAL----------*/

/* * {
    outline: 1px solid red;
} */

:root {
    --background-color: #000000;
    --decor-color: #d3ce87;
    --text-color-heading: #D0B77B;
    --text-color: #7B5E3D;
    --link-hover-color: #f0e8d7;
    --font-size: 26px;
}

@font-face {
    font-family: 'SpecialFont';
    src: url('assets/fonts/EldritchVanguardBold-9Mp70.otf') format('opentype');
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
}

body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 2.5rem;
    font-family: 'SpecialFont';
    color: var(--text-color-heading);
}

/* h2::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 110%;
    height: 2px;
    background: linear-gradient(
            to right, 
            transparent, 
            var(--text-color-heading), 
            transparent);
    border-radius: 2px;
    transform: translateX(-50%);
} */

/* section {
    border-top: 2px solid transparent;
    border-image: linear-gradient(
            to right, 
            transparent, 
            var(--text-color-heading), 
            transparent) 1;
    padding: 40px;
} */

/*----------ANIMATIONS----------*/

@keyframes bottomReveal {
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes lineGrow {
    to {
        height: 100%;
    }
}

@keyframes lineShrink {
    to {
        height: 0%;
    }
}

@keyframes lineLeft {
    to {
        left: 0%;
        transform: translateY(-50%);
    }
}

@keyframes lineRight {
    to {
        left: 100%;
        transform: translateY(-50%);
    }
}

@keyframes dividerReveal {
    to {
        clip-path: inset(0 0% 0 0%);
    }
}

@keyframes topReveal {
    to {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes scrollTextBob {
    0% {transform: translateY(0%) translateX(-50%);}
    50% {transform: translateY(25%) translateX(-50%);}
    100% {transform: translateY(0%) translateX(-50%);}
}

@keyframes scrollReveal {
    to {
        opacity: 1;
    }
}

@keyframes scroll-bob {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(100%);}
}

@keyframes lineGrow2 {
    to {
        height: clamp(30%, 9vw, 80%);
    }
}

@keyframes lineShrink2 {
    to {
        height: 0%;
    }
}

@keyframes lineRight2 {
    to {
        left: 100%;
    }
}

@keyframes polaroidReveal {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/*----------HOME----------*/

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#home nav {
    color: var(--text-color-heading);
    background: #00000079;
    border-bottom: 0.5px solid #d0b77b70;
    backdrop-filter: blur(15px);
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 0.75rem;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 75px;
    padding: 15px 50px;
    box-sizing: border-box;
}

.nav-links {
    position: relative;
    transition: all 0.35s ease;
}

.nav-links::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 1.5px;
    background-color: var(--link-hover-color);
    border-radius: 2px;
    transform: translateX(-50%);
    transition: width 0.35s ease;
}

.nav-links.active::after {
    width: 55%;
}

.nav-links.active {
    color: var(--link-hover-color);
}

.nav-links.logo.active-logo {
    background-color: var(--link-hover-color);
    transform: scale(1.2);
}

.nav-links:hover {
    color: var(--link-hover-color);
}

.nav-links:hover::after {
    width: 55%;
}
.nav-links.logo:hover {
    background-color: var(--link-hover-color);
}

.nav-links.download::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    mask: url('assets/icons/download.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/download.svg') no-repeat center / contain;
    background-color: var(--text-color-heading);
    display: inline-block;
    transition: all 0.35s ease;
}

.nav-links.download:hover::before {
    background-color: var(--link-hover-color);
}

.nav-links.logo {
    margin-right: auto;
    width: 55px;
    height: 55px;
    background-color: var(--text-color-heading);
    mask: url('assets/icons/personal_logo.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/personal_logo.svg') no-repeat center / contain;
}

.nav-links.logo:hover {
    background-color: var(--link-hover-color);
}

.hero {
    background: linear-gradient(
        180deg, 
        #1d170d,
        #000000
    );
    position: relative;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('assets/backgrounds/hero-texture.jpg') repeat;
    background-size: cover;
    opacity: 0.35;
    pointer-events: none;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        #00000000 0%,
        #00000081 85%,
        #000000 100%
    );
    z-index: 1;
    pointer-events: none;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-title {
    position: relative;
}

.hero-title-mask {
    overflow: hidden;
    position: relative;
    clip-path: inset(0 0 15% 0);
}

.hero-title-text {
    font-family: 'SpecialFont', sans-serif;
    font-size: clamp(4rem, 18vw, 6rem);
    color: #ece8b0;
    margin: 0;
    opacity: 0;
    padding: 25px;
    position: relative;
    display: inline-block;
    transform: translateY(100%);
}

.hero-title-text.animate {
    animation: bottomReveal 1s ease-out forwards;
}

.hero-divider-line {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -40px);
    pointer-events: none;
}

.hero-divider-line::before,
.hero-divider-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 0%;
    background-color: var(--decor-color);
    transform: translate(-50%, -50%);
}

.hero-divider-line.animate::before {
    animation: lineGrow 0.2s ease-out forwards,
               lineLeft 0.4s ease-out 0.4s forwards,
               lineShrink 0.2s ease-out 1s forwards;
}

.hero-divider-line.animate::after {
    animation: lineGrow 0.2s ease-out forwards,
               lineRight 0.4s ease-out 0.4s forwards,
               lineShrink 0.2s ease-out 1s forwards;
}


.hero-divider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--decor-color);
    pointer-events: none;
    -webkit-mask: url('assets/decor/hero-main.svg') no-repeat center top / 100% auto;
    mask: url('assets/decor/hero-main.svg') no-repeat center top / 100% auto;
    clip-path: inset(0 50% 0 50%);
}

.hero-divider.animate {
    animation: dividerReveal 0.4s ease-out forwards;
}


.hero p {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: clamp(3rem, 15vw, 6rem);
    align-items: center;
    font-size: clamp(0.9rem, 4vw, 1.2rem); 
    margin: 0;
    opacity: 0;
    color: var(--text-color-heading);
    transform: translateY(-25%);
    box-sizing: border-box;
    padding: 0 20px;
}

.hero p.animate {
    animation: topReveal 0.4s ease-out forwards;
}

.hero p .left {
    justify-self: end;
    text-wrap: nowrap;
    max-width: 100%;
}

.hero p .right {
    justify-self: start;
    text-wrap: nowrap;
    max-width: 100%;
}

.hero p .divider {
    justify-self: center;
    font-size: 3em;
    font-weight: 100;
    visibility: hidden;
}

#hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    padding: 110px 0 0 0;
    opacity: 0;
    transform: translateY(-25%);
    pointer-events: none;
}

.hero-buttons.animate {
    animation: topReveal 0.4s ease-out forwards;
}

.hero-link {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--text-color-heading);
    color: #000000;
    padding: 15px 60px;
    cursor: pointer;
    gap: 10px;
    transition: all 0.35s ease;
}

.hero-link:hover {
    transform: scale(1.05);
    background-color: var(--link-hover-color);
}

.hero-link::before {
    content: "";
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-color: #000000;
}

.hero-link.github::before {
    mask: url('assets/icons/github.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/github.svg') no-repeat center / contain;
}

.hero-link.resume::before {
    mask: url('assets/icons/resume.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/resume.svg') no-repeat center / contain;
}

.scroll-indicator {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 100px;
    overflow: hidden;
    opacity: 0;
    z-index: 3;
}

.scroll-text {
    position: absolute;
    bottom: 120px;
    left: 50%;
    color: var(--text-color-heading);
    font-size: 0.75rem;
    opacity: 0.75;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 0;
}

.scroll-indicator.animate {
    animation: scrollReveal 0.4s linear forwards;
}

.scroll-text.animate {
    animation: scrollReveal 0.4s linear forwards,
                scrollTextBob 2s ease-in-out 5s infinite;
}

.effects-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.effects-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.65rem;
    color: var(--text-color);
    opacity: 0.5;
    cursor: pointer;
    user-select: none;
    transition: all 0.35s ease;
}

.effects-toggle input {
    cursor: pointer;
    accent-color: var(--link-hover-color);
}

.effects-toggle:hover {
    color: var(--link-hover-color);
}

.scroll-reveal {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
        to bottom,
        #00000000 0%,
        var(--text-color-heading) 100%
    );
    transform: translateY(-100%) translateX(-50%);
    animation: scroll-bob 2s ease-in-out infinite;
}

@media (max-width: 650px) {
    .hero-divider {
        visibility: hidden;
    }
    .hero-divider-line {
        visibility: hidden;
    }
    .hero p {
        grid-template-columns: 1fr;
        gap: 0;
        text-align: center;
    }
    .hero p .divider {
        margin: 0.5em 0;
        visibility: visible;
    }
    .hero p .left {
        justify-self: center;
        white-space: normal;
    }
    .hero p .right {
        justify-self: center;
        white-space: normal;
    }
    .hero-buttons {
        padding: 25px 0 0 0;
    }
}

@media (max-width: 900px) {
    #home nav {
        display: none;
    }
}

/*----------ABOUT----------*/

#about {
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--text-color-heading);
    padding: 5%;
}

#about::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #302416;
    opacity: 0.1;
    mask: url('assets/decor/about-background-decoration.svg') center/contain  no-repeat;
    -webkit-mask: url('assets/decor/about-background-decoration.svg') center/contain  no-repeat;
    pointer-events: none;
    z-index: 0;
}

.decoration {
    position: absolute;
    background-color: #302416;
    pointer-events: none;
    width: clamp(15rem, 18vw, 20rem);
    height: clamp(15rem, 18vw, 20rem);
    transition: all 0.4s ease;
}

.corner.top-left {
    top: 1%;
    left: 1%;
    mask: url("assets/decor/corner-decoration.svg") no-repeat center / contain;
    -webkit-mask: url("assets/decor/corner-decoration.svg") no-repeat center / contain;
}

.corner.bottom-right {
    bottom: 1%;
    right: 1%;
    transform: rotate(180deg);
    mask: url("assets/decor/corner-decoration.svg") no-repeat center / contain;
    -webkit-mask: url("assets/decor/corner-decoration.svg") no-repeat center / contain;
}

.middle.top {
    top: 0;
    left: 50%;
    transform: translate(-50%, -33%);
    mask: url("assets/decor/middle-decoration.svg") no-repeat center / contain;
    -webkit-mask: url("assets/decor/middle-decoration.svg") no-repeat center / contain;
}

.middle.bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 33%) rotate(180deg);
    mask: url("assets/decor/middle-decoration.svg") no-repeat center / contain;
    -webkit-mask: url("assets/decor/middle-decoration.svg") no-repeat center / contain;
}

.about-text {
    width: 50%;
    gap: clamp(4rem, 10vw,7rem);
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-heading {
    position: relative;
}

.about-title-mask {
    overflow: hidden;
    position: relative;
    clip-path: inset(0 0 0 0);
}

.about-title-text {
    font-size: clamp(2.8rem, 7vw, 5rem);
    color: var(--background-color);
    position: relative;
    text-align: left;
    margin-top: 100px;
    margin-bottom: -20px;
    margin-right: 0;
    margin-left: 0;
    opacity: 0;
    transform: translateY(100%);
}

.about-title-text.animate {
    animation: bottomReveal 0.8s ease-out forwards;
}

.about-divider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: -50%;
}

.about-divider-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 0%;
    width: 2px;
    background-color: var(--background-color);
}

.about-divider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    -webkit-mask: url('assets/decor/side-title-decoration.svg') no-repeat center top / 100% auto;
    mask: url('assets/decor/side-title-decoration.svg') no-repeat center top / 100% auto;
    pointer-events: none;
    clip-path: inset(0 100% 0 0);
}

.about-divider-line.animate::before {
    animation: lineGrow2 0.4s ease-out forwards,
                lineRight2 0.6s ease-out 0.6s forwards,
                lineShrink2 0.2s ease-out 1.6s forwards;
}

.about-divider.animate::after {
    animation: dividerReveal 0.6s ease-out forwards;
    animation-delay: 0.6s;
}

.about-text-mask {
    overflow: hidden;
    position: relative;
    clip-path: inset(0 0 0 0);
}

.about-body-text {
    color: var(--background-color);
    text-align: left;
    position: relative;
    opacity: 0;
    padding-top: 1%;
    transform: translateY(-100%)
}

.about-body-text::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 310px;
    aspect-ratio: 151 / 10;
    background: var(--background-color);
    mask: url('assets/decor/text-divider-decoration.svg') center/contain  no-repeat;
    -webkit-mask: url('assets/decor/text-divider-decoration.svg') center/contain  no-repeat;
    pointer-events: none;
}

.about-body-text.animate {
    animation: topReveal 0.8s ease-out forwards;
}

.about-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
}

.about-polaroid {
    width: 80%;
    max-width: 500px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f1e6bf;
    opacity: 0;
    transform: translate(-25px, -25px);
    transition: all 0.3s ease-out;
}

.about-polaroid.animate {
    animation: polaroidReveal 1s ease-out forwards;
}

.about-polaroid:hover {
    box-shadow: 2px 2px 5px;
}

.polaroid-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    outline: 1px solid #00000031;
}

.polaroid-text {
    height: 10%;
    font-size: 0.8rem;
    font-style: italic;
    display: flex;
    align-items: center;
}

@media (max-width: 900px) {
    #about {
        flex-direction: column;
    }

    .about-title-text {
        font-size: clamp(1.6rem, 8vw, 3rem);
        margin-bottom: -10px;
    }

    .about-image {
        width: 100%;
        padding: 10%;
    }

    .about-polaroid {
        width: clamp(200px, 60vw, 350px);
    }
}

@media (max-width: 1250px) {
    .corner.top-left {
        opacity: 0;
        transform: scale(0.95);
    }

    .corner.bottom-right {
        opacity: 0;
        transform: rotate(180deg) scale(0.95);
    }

    .middle.top {
        opacity: 1;
        transform: translate(-50%, -33%) scale(1);
    }

    .middle.bottom {
        opacity: 1;
        transform: translate(-50%, 33%) rotate(180deg) scale(1);
    }
}

@media (max-width: 900px) {
    .corner.top-left {
        opacity: 1;
        transform: scale(1);
    }

    .corner.bottom-right {
        opacity: 1;
        transform: rotate(180deg) scale(1);
    }

    .middle.top {
        opacity: 0;
        transform: translate(-50%, -33%) scale(0.95);
    }

    .middle.bottom {
        opacity: 0;
        transform: translate(-50%, 33%) rotate(180deg) scale(0.95);
    }
}

/*----------PROJECTS----------*/

#projects {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#projects-background {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.projects-section-title {
    position: relative;
    width: 100%;
    font-size: clamp(2.8rem, 15vw, 5rem);
}

.projects-section-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    width: clamp(450px, 75vw, 700px);
    height: 150%;
    background-color: var(--decor-color);
    -webkit-mask: url('assets/decor/middle-title-decoration.svg') no-repeat center top / 100% auto;
    mask: url('assets/decor/middle-title-decoration.svg') no-repeat center top / 100% auto;
    pointer-events: none;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text-color);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
    transition: all 0.3s ease;
}

.carousel-button:hover {
    color: var(--link-hover-color);
    transform: translateY(-50%) scale(1.2);
}

.carousel-left {
    left: 10px;
}

.carousel-right {
    right: 10px;
}
.project-carousel {
    position: relative;
    min-height: 610px;
    perspective: 1000px;
    overflow: hidden;
    width: 100%;
    padding: 30px 0 0 0;
}

.all-projects {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
    overflow: visible;
    transition: all 0.5s ease;
}

.project {
    background-image: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0) 20%,
            rgba(0, 0, 0, 0.85) 40%,
            rgba(0, 0, 0, 1) 70%,
            rgba(0, 0, 0, 1) 100%
        ), 
        var(--bg, linear-gradient(
            145deg,
            #0a0a0a,
            #000000
        )
        );
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    width: 185px;
    height: 500px;
    border: 1px solid var(--text-color);
    padding: 20px 20px 0 20px;
    overflow: hidden;
    transform: translateX(var(--x, 0));;
    transition: opacity 0.35s ease,
                scale 0.35s ease, 
                transform 0.35s ease,
                height 0.35s ease,
                width 0.35s ease 0.35s;
}

.wip-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.wip-icon::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--text-color);
    -webkit-mask: url("assets/icons/warning.svg") no-repeat center / contain;
    mask: url("assets/icons/warning.svg") no-repeat center / contain;
}

.wip-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    width: min(120px, 80vw);
    top: 5px;
    right: 100%;
    background: var(--background-color);
    color: var(--text-color-heading);
    font-size: 0.6rem;
    padding: 6px 10px;
    border: 2px solid var(--text-color-heading);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    transform: translateX(5px);
    transition: all 0.2s ease;
    z-index: 5;
}

.project.position-center .wip-icon:hover::after {
    opacity: 1;
    transform: translateX(-8px);
}

.project.expanded {
    height: 550px;
    width: 420px;
    transition: opacity 0.35s ease,
                scale 0.35s ease, 
                transform 0.35s ease,
                height 0.35s ease,
                width 0.35s ease 0.35s;
}

.project:not(.expanded) {
    transition: opacity 0.35s ease,
                scale 0.35s ease, 
                transform 0.35s ease,
                height 0.35s ease 0.85s,
                width 0.35s ease 0.5s;
}

.project:hover {
    cursor: pointer;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    height: 100%;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.project-title {
    margin: 0;
    font-size: 1.3rem;
}

.project-description {
    opacity: 0.65;
    overflow: hidden;
    font-size: 0.65rem;
}

.project-info {
    max-height: 0;
    overflow: visible;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.project.expanded .project-info {
    max-height: 400px;
    transition: opacity 0.15s ease,
                max-height 0.35s ease 1s;
}

.project.expanded:hover {
    cursor: default;
}

.project:not(.expanded) .project-description {
    transition: opacity 0.15s ease 0.9s,
                max-height 0.35s ease 0.9s;
}

.project-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 1;
    padding: 0 0 15px 0;
    transform: scale(1);
    transform-origin: left;
}

.project-button {
    border: 1px solid var(--text-color-heading);
    font-size: 0.75rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px 5px 12px;
    gap: 7px;
    transition: transform 0.35s ease,
                opacity 0.35s ease,
                backgroud-color 0.35s linear,
                color 0.35s linear;
}

.project.expanded .project-button {
    transform: scale(1);
    opacity: 1;
}

.project.expanded .project-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-delay: 0s;
    background-color: var(--text-color-heading);
    color: var(--background-color);
}

.project-button::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--text-color-heading);
}

.project.expanded .project-button:hover::before {
    background-color: var(--background-color);
}

.project-button.github::before {
    content: "";
    width: 30px;
    height: 30px;
    mask: url('assets/icons/github.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask: url('assets/icons/github.svg') no-repeat center;
    -webkit-mask-size: contain;
}

.project-button.link::before {
    content: "";
    width: 30px;
    height: 30px;
    mask: url('assets/icons/link.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask: url('assets/icons/link.svg') no-repeat center;
    -webkit-mask-size: contain;
}

.project.position-center {
    transform: translateX(var(--x)) scale(1);
    z-index: 3;
    color: var(--decor-color);
    border: 2px solid var(--text-color-heading);
}

.project.position-center .wip-icon::before {
    background-color: var(--decor-color);
}

/* .project:not(.expanded).position-center:hover {
    transform: translateX(var(--x)) translateZ(20px) scale(1.1);
} */

.project.position-adjacent {
    transform: translateX(var(--x)) scale(0.85);
    z-index: 2;
}

.project.position-adjacent:hover {
    transform: translateX(var(--x)) translateZ(20px) scale(0.95);
}

.project.position-far {
    transform: translateX(var(--x)) scale(0.7);
    z-index: 1;
}

.project.position-far:hover {
    transform: translateX(var(--x)) translateZ(20px) scale(0.8);
}

.project.disable-hover.position-center:hover {
    transform: translateX(var(--x)) scale(1);
}

.project.disable-hover.position-adjacent:hover {
    transform: translateX(var(--x)) scale(1);
}

.project.disable-hover.position-far:hover {
    transform: translateX(var(--x)) scale(1);
}

.project-filters {
    position: relative;
    display: grid;
    justify-content: center;
    padding-bottom: 2%;
}

.project-filters::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    width: clamp(400px, 75vw, 700px);
    height: 200%;
    background-color: var(--decor-color);
    -webkit-mask: url('assets/decor/filter-decoration.svg') no-repeat center top / 100% auto;
    mask: url('assets/decor/filter-decoration.svg') no-repeat center top / 100% auto;
    pointer-events: none;
}

/* .project-filters::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 50vw;
    height: 1px;
    background: linear-gradient(
            to right, 
            transparent, 
            var(--text-color-heading), 
            transparent);
    transform: translateX(-50%);
} */

.filter-button {
    grid-row: 1;
    position: relative;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 100;
    color: inherit;
    cursor: pointer;
    padding: 20px 10px 10px 10px;
    transition: all 0.35s ease;
}

.filter-button:hover {
    color: var(--link-hover-color);
    transform: translateY(-4px);
}

.filter-button.active {
    color: var(--link-hover-color);
    transform: translateY(-8px);
}

.filter-button.active:hover {
    transform: translateY(-12px);
}

.filter-button::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 0;
    height: 1.5px;
    background-color: var(--link-hover-color);
    border-radius: 2px;
    transform: translateX(-50%);
    transition: width 0.35s ease;
}

.filter-button.active::after {
    width: 55%;
}

/*----------SKILLS----------*/

#skills {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.skills-category {
    background: linear-gradient(
        145deg,
        #0a0a0a,
        #000000
    );
    border: 1px solid #D0B77B55;
    padding: 0 25px 20px 25px;
    min-width: 300px;
    max-width: 350px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.skills-category-title {
    margin-bottom: 50px;
    color: var(--text-color-heading);
    font-size: 1.8rem;
}

.skills-category ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.skills-category li {
    background: var(--text-color-heading);
    color: #000000;
    padding: 8px 15px;
    font-size: 0.75rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: all 0.15s ease;
}

.skills-category li:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 25px #d0b77b22,
        0 10px 20px #000;
}

/*----------CONTACTS----------*/

#contacts {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image:
        radial-gradient(
            at right center,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0.9) 45%,
            rgba(0,0,0,1) 70%
        ),
        url("assets/backgrounds/contacts-background.jpg");

    background-size: cover;
    background-position: center
}

.contact-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    white-space: nowrap;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.35s ease;
}

.contact-item:hover {
    color: var(--link-hover-color);
    cursor: pointer;
}

.contact-item:hover::before {
    background-color: var(--link-hover-color);
}

.contact-item::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    transition: all 0.35s ease;
}

.contact-item.email::before {
    mask: url('assets/icons/email.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/email.svg') no-repeat center / contain;
}

.contact-item.github::before {
    mask: url('assets/icons/github.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/github.svg') no-repeat center / contain;
}

.contact-item.linkedin::before {
    mask: url('assets/icons/linkedin.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/linkedin.svg') no-repeat center / contain;
}

.contact-item.resume::before {
    mask: url('assets/icons/resume.svg') no-repeat center / contain;
    -webkit-mask: url('assets/icons/resume.svg') no-repeat center / contain;
}

@media (max-width: 900px) {
    .contact-links {
        flex-direction: column;
        white-space: normal;
    }
}

/*----------FOOTER----------*/

footer {
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
    width: 100%;
    margin-top: auto;
    font-size: 0.8rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
